﻿@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Message</h3>

<address>
    <strong>
        Alfadz Panlaque
    </strong>
    <br />
    <abbr title="Web"><strong>w:</strong></abbr>
    <a href="http://fadz.net" target="_blank">fadz.net</a><br />
    <abbr title="Phone"><strong>p:</strong></abbr>
    0927-XXX-YYYY
    <br />
    <abbr title="Email"><strong>e:</strong></abbr>
    <a href="mailto:ctrlqqaltdel@yahoo.com">ctrlqqaltdel@yahoo.com</a>
</address>
