﻿@{
    Layout = null;
    int count = 0;
}
@model List<Fadz.Web.Rotativa.Models.Fruit>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DataOnly</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="container body-content">
        <img src="~/Img/fadz.png" height="80" />
        <table class="table table-bordered table-condensed table-striped">
            <thead style="background: #133783; color:#fff;">
                <tr><td>Id </td><td>Name</td><td>Price</td><td>Quantity</td><td>Total</td></tr>
            </thead>
            <tfoot style="background: #133783; color:#fff;">
                <tr><td></td><td></td><td></td><td>Grand Total</td><td>@Model.Sum(c => c.Quantity * c.Price) </td></tr>
            </tfoot>
            <tbody>
                @foreach (var fruit in Model)
                {
                    count += 1;
                    <tr><td>@fruit.Id</td><td>@fruit.Name</td><td>@fruit.Price</td><td>@fruit.Quantity</td><td>@(fruit.Quantity * fruit.Price)</td></tr>

                    if (count == 3)
                    {
                        <tr><td><div style=" page-break-after: always;"></div></td></tr>
                    }
                }
            </tbody>
        </table>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
