﻿@model List<Fadz.Web.Rotativa.Models.Fruit>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <table class="table table-bordered table-condensed table-striped">
            <thead style="background: #133783; color:#fff;">
                <tr><td>Id </td><td>Name</td><td>Price</td><td>Quantity</td><td>Total</td></tr>
            </thead>
            <tbody>
                @foreach (var fruit in Model)
                {
                    <tr><td>@fruit.Id</td><td>@fruit.Name</td><td>@fruit.Price</td><td>@fruit.Quantity</td><td>@(fruit.Quantity * fruit.Price)</td></tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <h2>Rotativa Demo</h2>
    <div class="col-md-2">
        <p>
            <a class="btn btn-danger " href="/Home/ExportToPdfIndex">ExportToPdf Index &raquo;</a>
        </p>
    </div>
    <div class="col-md-2">
        <p>
            <a class="btn btn-primary" href="/Home/ExportToPdfDataOnly">ExportToPdf Data Only &raquo;</a>
        </p>
    </div>
    <div class="col-md-2">
        <p>
            <a class="btn btn-success" href="/Home/ExportToPdfDataWithImage">ExportToPdf With Image &raquo;</a>
        </p>
    </div>
    <div class="col-md-2">
        <p>
            <a class="btn btn-info" href="/Home/ViewAsPdfDataWithImage">View Data As Pdf &raquo;</a>
        </p>
    </div>
    <div class="col-md-2">
        <p>
            <a class="btn btn-warning" href="/Home/ViewDataWithPageBreak">Pdf With PageBreak &raquo;</a>
        </p>
    </div>
</div>